.header {
	z-index: 1000;
	position: relative;
	min-width: 375px;
	width: 100%;
	padding-top: 39px;
	padding-bottom: 39px;
	border-bottom: 1px solid var(--text8-color);
	background-color: transparent;

	&__container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 32px;
	}
}

.logo,
.header-nav {
	display: flex;
	align-items: center;
}
.header-nav {
	flex: 1;
	gap: 32px;

	&__item {
		display: flex;
		align-items: center;
	}
	&__menu {
		gap: 24px;
	}
	&__search {
		flex: 1;
	}
	&__menu-organizer {
		flex: 1;
		display: flex;
		justify-content: center;
	}
	&__menu-organizer-list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		color: var(--text1-color);
		font-size: 15px;
		line-height: 1;
	}
	&__menu-organizer-list li:not(:last-child) {
		margin-right: 60px;
	}
}
.header-menu,
.header-organizer {
	font-size: 15px;
	line-height: 1;
}

.burger {
	position: relative;
	display: flex;
	align-items: center;
	width: auto;
	min-height: 24px;
	height: 24px;
	padding: 0;
	border: none;
	background-color: transparent;
	color: var(--text1-color);
	cursor: pointer;

	&__icon {
		&:not(:last-child) {
			margin-right: 8px;
		}
	}
	&__text {
		line-height: 24px;
	}
}
.burger-menu {
	z-index: 2100;
	position: fixed;
	top: 0;
	left: -670px;
	display: flex;
	flex-direction: column;
	width: 670px;
	height: 100vh;
	padding: 140px 100px 55px;
	overflow: auto;
	user-select: auto;
	background-color: var(--white-color);
	transition: 0.16s ease-out;

	&::-webkit-scrollbar {
		width: 0;
	}
	&--active {
		left: 0;
	}
	&__close {
		z-index: 1;
		position: fixed;
		top: 32px;
		left: calc(670px - 64px);
		min-width: 32px;
		width: 32px;
		min-height: 32px;
		height: 32px;
		opacity: 0;
		pointer-events: none;
		user-select: none;
		cursor: default;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			min-width: 24px;
			width: 24px;
			min-height: 2px;
			height: 2px;
			border-radius: 2px;
			background-color: var(--text6-color);
			transition: 0.16s ease-out;
		}
		&::before {
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
		&:hover::before,
		&:hover::after {
			background-color: var(--text1-color);
		}
	}
	&--active &__close {
		position: fixed;
		opacity: 1;
		pointer-events: auto;
		user-select: auto;
		cursor: pointer;
	}
	&__list {
		flex: 1;
	}
	&__list:not(:last-child) {
		margin-bottom: 200px;
	}
	&__list li:not(:last-child) {
		margin-bottom: 28px;
	}
	&__list a {
		font-size: 26px;
		line-height: 31px;
	}
	&__list a:hover {
		color: var(--green-color);
	}
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	&__contacts:not(:last-child) {
		margin-right: 32px;
	}
	&__contacts-item {
		line-height: 1.3;
	}
	&__contacts-item:not(:last-child) {
		margin-bottom: 32px;
	}
	&__contacts-title {
		color: var(--text4-color);
		font-size: 14px;
	}
	&__contacts-item a {
		font-size: 18px;
	}
	&__contacts-title:not(:last-child) {
		margin-bottom: 6px;
	}
}

.header-actions {
	display: flex;
	align-items: center;
	gap: 32px;
	margin-left: auto;

	&-authreg {
		margin-left: auto;
	}
	&__item {
		display: flex;
	}
}

.current-user {
	display: flex;
	align-items: center;
	gap: 32px;
	max-width: 320px;
	width: 100%;

	&__menu {
		position: relative;
		display: flex;
		align-items: center;
		gap: 16px;
		cursor: pointer;

		&::after {
			content: "";
			position: absolute;
			top: 100%;
			right: 0;
			left: 0;
			min-height: 8px;
			height: 8px;
			padding-top: 8px;
		}
		&:not(:last-child) {
			margin-right: 16px;
		}
		&:not(.open) .current-user__dropdown-menu {
			display: none;
			user-select: none;
			pointer-events: none;
		}
	}
	&__pic {
		position: relative;
		min-width: 42px;
		width: 42px;
		min-height: 42px;
		height: 42px;
		border-radius: 8px;
		user-select: none;
		pointer-events: none;
	}
	&__dropdown {
		position: relative;
		display: flex;
		align-items: center;
		user-select: none;
		pointer-events: none;

		&-header {
			position: relative;
			display: flex;
			align-items: center;
			padding-right: 24px;

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				right: 0;
				min-width: 24px;
				width: 24px;
				min-height: 24px;
				height: 24px;
				margin-top: -12px;
				background: url("../img/arrow-dropdown.svg") no-repeat center/24px 24px;
			}
		}
		&-header-title {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			min-height: 17px;
			font-size: 14px;
			line-height: 17px;
		}
	}
	&__dropdown-menu {
		z-index: 1;
		position: absolute;
		top: calc(100% + 8px);
		left: 0;
		max-width: 320px;
		width: 320px;
		border: 1px solid var(--text9-color);
		border-radius: 16px;
		box-shadow: 0 14px 21px -1px rgba(40, 41, 41, 0.08);
		background-color: var(--white-color);
		user-select: none;

		&-item {
			display: flex;
			flex-direction: column;
			gap: 16px;
			padding: 20px 24px;

			&:not(:last-child) {
				border-bottom: 1px solid var(--text9-color);
			}
			& ul {
				display: flex;
				flex-direction: column;
				gap: 24px;

				& li {
					line-height: 1.2;
				}
				& a {
					display: block;
				}
			}
		}
		&-user {
			display: flex;
			gap: 16px;
		}
		&-user-header {
			display: flex;
			flex-direction: column;
			gap: 6px;
		}
		&-user-title {
			display: flex;
			line-height: 1.3;
		}
		&-user-subtitle {
			display: flex;
			color: var(--text6-color);
			font-size: 14px;
		}
	}
	&__notice {
		display: flex;
		align-items: center;
		gap: 20px;
	}
	&__notice-btn {
		position: relative;
		display: flex;
		align-items: center;
		min-width: 24px;
		width: 24px;
		min-height: 24px;
		height: 24px;

		&-num {
			position: absolute;
			top: -3px;
			right: -3px;
			padding: 1px 4px;
			border-radius: 4px;
			background-color: var(--error5-color);
			color: var(--white-color);
			font-family: var(--font-family-lato);
			font-weight: 900;
			font-size: 10px;
			line-height: 12px;
			user-select: none;
			pointer-events: none;
		}
	}
}
@media (max-width: 1199.98px) {
	.header-nav {
		display: none;
	}
}
@media (max-width: 767.98px) {
	.header-actions {
		display: none;
	}
}