@font-face {
	font-family: "Stolzl", sans-serif;
	src: url("../fonts/stolzl_book.otf");
	src: local("../fonts/stolzl_book"),
	url("../fonts/stolzl_book.otf") format("opentype");
	font-weight: 350;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Stolzl", sans-serif;
	src: url("../fonts/stolzl_regular.otf");
	src: local("../fonts/stolzl_regular"),
	url("../fonts/stolzl_regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Stolzl", sans-serif;
	src: url("../fonts/stolzl_medium.otf");
	src: local("../fonts/stolzl_medium"),
	url("../fonts/stolzl_medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Stolzl", sans-serif;
	src: url("../fonts/stolzl_bold.otf");
	src: local("../fonts/stolzl_bold"),
	url("../fonts/stolzl_bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Lato", sans-serif;
	src: url("../fonts/Lato-Regular.ttf");
	src: local("../fonts/Lato-Regular"),
	url("../fonts/Lato-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Lato", sans-serif;
	src: url("../fonts/Lato-Medium.ttf");
	src: local("../fonts/Lato-Medium"),
	url("../fonts/Lato-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Lato", sans-serif;
	src: url("../fonts/Lato-SemiBold.ttf");
	src: local("../fonts/Lato-SemiBold"),
	url("../fonts/Lato-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Lato", sans-serif;
	src: url("../fonts/Lato-Bold.ttf");
	src: local("../fonts/Lato-Bold"),
	url("../fonts/Lato-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Lato", sans-serif;
	src: url("../fonts/Lato-ExtraBold.ttf");
	src: local("../fonts/Lato-ExtraBold"),
	url("../fonts/Lato-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Lato", sans-serif;
	src: url("../fonts/Lato-Black.ttf");
	src: local("../fonts/Lato-Black"),
	url("../fonts/Lato-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "VelaSans", sans-serif;
	src: url("../fonts/VelaSans-Regular.ttf");
	src: local("../fonts/VelaSans-Regular"),
	url("../fonts/VelaSans-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "VelaSans", sans-serif;
	src: url("../fonts/VelaSans-Medium.ttf");
	src: local("../fonts/VelaSans-Medium"),
	url("../fonts/VelaSans-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Inter", sans-serif;
	src: url("../fonts/Inter-Regular.ttf");
	src: local("../fonts/Inter-Regular"),
	url("../fonts/Inter-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

