:root {
	// base
	--font-family-stolzl: "Stolzl", sans-serif;
	--font-family-lato: "Lato", sans-serif;
	--font-family-vela: "VelaSans", sans-serif;
	--font-family-inter: "Inter", sans-serif;
	--content-width: 1280px;
	--container-offset: 12px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	// colors
	--black-color: #000000;
	--white-color: #FFFFFF;
	--green-color: #059858;
	--lightgray-color: #F0F1F0;
	--background-color: #FCFCFC;

	--text1-color: #1C1C1C;
	--text2-color: #2D2E2E;
	--text3-color: #494A4A;
	--text4-color: #6A6B6B;
	--text5-color: #8D8E8F;
	--text6-color: #AEAFB0;
	--text7-color: #D4D5D6;
	--text8-color: #E8EAEB;
	--text9-color: #F2F4F5;
	--text10-color: #F7F9FA;

	--error4-color: #DC2626;
	--error5-color: #EF4444;
	--error7-color: #FCA5A5;
	--error9-color: #FEE2E2;
	--error10-color: #FEF2F2;

	--warning3-color: #B45309;
	--warning4-color: #D97706;
	--warning5-color: #F59E0B;
	--warning6-color: #FBBF24;
	--warning8-color: #FDE68A;
	--warning9-color: #FEF3C7;

	--success1-color: #064E3B;
	--success2-color: #065F38;
	--success3-color: #04783E;
	--success4-color: #059649;
	--success5-color: #10B948;
	--success6-color: #34D34E;
	--success7-color: #82E76E;
	--success8-color: #B4F3A7;
	--success9-color: #DBFAD1;
	--success10-color: #F2FDEC;

	--info3-color: #1D4ED8;
	--info4-color: #2563EB;
	--info5-color: #3B82F6;
	--info6-color: #60A5FA;
	--info8-color: #BFDBFE;
	--info9-color: #DBEAFE;

	--accent-purple2-color: #5B21B6;
	--accent-purple3-color: #6D28D9;
	--accent-purple4-color: #7C3AED;
	--accent-purple8-color: #DDD6FE;
	--accent-purple9-color: #EDE9FE;

	--accent-ceruleanblue1-color: #05ABD6;
	--accent-ceruleanblue2-color: #05BBEA;
	--accent-ceruleanblue6-color: #96E7FD;
	--accent-ceruleanblue8-color: #AFEDFD;
	--accent-ceruleanblue9-color: #DCF7FE;
}