// базовые подключения
@import "vars";
@import "fonts";
@import "./helpers/grid-bootstrap";
@import "../../node_modules/swiper/swiper-bundle";
@import "../../node_modules/bs-stepper/dist/css/bs-stepper";
@import "../../node_modules/select2/dist/css/select2.css";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/footer";

.main {
	z-index: 1;
	position: relative;
	flex: 1;
	min-width: 375px;

	overflow: hidden;
}

.main-section {
	&__content {
		display: flex;
		flex-wrap: wrap;
	}
	&__page-content {
		flex: 1;
	}
}
@media (min-width: 768px) {
	.main-section {
		padding-top: 32px;
	}
}
@media (min-width: 992px) {
	.main-section {
		&__header {
			flex: 1 0 100%;
			margin-bottom: 36px;
		}
		&__sidebar {
			min-width: 280px;
			width: 280px;
			margin-right: 45px;
		}
	}
}
@media (max-width: 991.98px) {
	.main-section {
		&__header {
			flex: 1;
		}
		&__header,
		&__sidebar {
			margin-bottom: 16px;
		}
		&__page-content {
			flex-basis: 100%;
		}
	}
}
@media (max-width: 767.98px) {
	.main-section {
		padding-top: 16px;
	}
}

.main-section-tabs,
.tab-links-slider {
	margin-left: 0;
	padding-right: 8px;

	& .swiper-wrapper,
	& .swiper-slide {
		width: auto;
	}
	& .swiper-wrapper {
		box-sizing: border-box;
		width: max-content;
		min-height: 50px;
		height: 50px;
		padding: 4px;
		border-radius: 6px;
		background: var(--text9-color);
	}
	& .swiper-slide {
		display: flex;
		height: auto;
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 42px;
		height: 42px;
		padding: 12px 20px;
		border-radius: 6px;
		color: var(--text4-color);
		white-space: nowrap;
		font-size: 15px;
		line-height: 18px;
		transition: 0.16s ease-out;

		&:hover {
			color: var(--text1-color);
		}
	}
	&__link.selected {
		box-shadow: 0 6px 10px -1px rgba(40, 41, 41, 0.07);
		background: var(--white-color);
		color: var(--green-color);
	}
}

.page-content-tabs-wrapper {
	position: relative;

	&::before {
		content: "";
		z-index: 0;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		min-height: 1px;
		height: 1px;
		background-color: var(--text8-color);
	}
	& .page-content-tabs {
		&::before {
			content: none;
		}
	}
}
.page-content-tabs {
	position: relative;
	margin-left: 0;
	padding-right: 8px;

	&::before {
		content: "";
		z-index: 0;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		min-height: 1px;
		height: 1px;
		background-color: var(--text8-color);
	}
	& .swiper-wrapper {
		box-sizing: border-box;
		width: auto;
		height: auto;
	}
	& .swiper-slide {
		display: flex;
		width: auto;
		height: auto;
	}
	&__nav-item {
		&:not(:last-child) {
			margin-right: 32px;
		}
	}
	&__link {
		position: relative;
		display: block;
		width: 100%;
		min-height: 65px;
		height: 65px;
		padding: 24px 0;
		color: var(--text5-color);
		white-space: nowrap;
		font-size: 15px;
		line-height: 17px;
		transition: 0.16s ease-out;

		&::before {
			content: "";
			z-index: 1;
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			min-height: 1px;
			background-color: transparent;
			transition: 0.16s ease-out;
		}
		&.selected {
			box-shadow: none;
			background: transparent;
			color: var(--text1-color);

			&::before,
			&:hover::before {
				height: 2px;
				background-color: var(--green-color);
			}
		}
		&:hover {
			color: var(--text1-color);

			&::before {
				height: 1px;
				background-color: var(--text6-color);
			}
		}
		&-num {
			color: var(--text6-color);
			transition: 0.16s ease-out;
			user-select: none;
			pointer-events: none;
		}
	}
}
@media (min-width: 768px) {
	.page-content-tabs-wrapper {
		display: flex;
		gap: 15px;
	}
	.page-content-tabs-actions-create {
		display: flex;
		align-items: center;
	}
}
@media (max-width: 767.98px) {
	.page-content-tabs-actions-create {
		display: none;
	}
}

.page-content {
	&__cover {
		position: relative;

		&-container {
			padding-right: 0;
			padding-left: 0;
		}
		& picture,
		& img {
			min-width: 100%;
		}
	}
	&__intro {
		position: relative;
		display: flex;

		&-logo {
			&-wrapper {
				box-shadow: 0 6px 10px -1px rgba(40, 41, 41, 0.07);
				background-color: var(--white-color);
			}
			&-wrapper,
			& picture,
			& img {
				border-radius: 8px;
			}
		}
		&-header {
			display: flex;
			flex: 1;
			flex-direction: column;
		}
		&-top {
			display: flex;
			align-items: center;

			&-upload {
				display: flex;
				align-items: center;
				margin-left: auto;
			}
		}
		&-bottom {
			display: flex;
			align-items: center;
		}
		&-rate {
			display: flex;
			align-items: center;

			&-value {
				line-height: 1;
			}
			&-stars {
				display: flex;
				align-items: center;
				gap: 2px;
			}
		}
		&-reviews {
			&,
			& .btn {
				color: var(--text5-color);
			}
		}
		&-actions {
			position: relative;
			display: flex;
		}
	}
	&__preview {
		overflow: hidden;
	}
	&__container {
		display: flex;
		flex-wrap: wrap;
	}
	&__main {
		flex: 1;
	}
	&__section {
		&-item-title {
			display: flex;
			align-items: center;

			&:not(:last-child) {
				margin-bottom: 12px;
			}
			& .tooltip {
				margin-left: 4px;
			}
		}
	}
}
@media (min-width: 768px) {
	.page-content {
		padding-top: 60px;

		&__header {
			margin-bottom: 24px;
		}
		&__cover {
			&-btn {
				z-index: 1;
				position: absolute;
				right: 24px;
				bottom: 20px;
			}
		}
		&__intro {
			padding-top: 32px;

			&-logo {
				margin-top: -62px;

				&-wrapper {
					padding: 4px;
				}
				& picture,
				& img {
					min-width: 185px;
					width: 185px;
					min-height: 185px;
					height: 185px;
				}
			}
			&-header {
				gap: 12px;
			}
			&-top {
				gap: 12px;
			}
			&-title {
				padding-right: 50px;
			}
			&-bottom {
				gap: 12px;
				padding-right: 50px;
			}
			&-rate {
				gap: 12px;
				padding: 4px 0;

				&-value {
					font-size: 18px;
				}
				&-stars {
					& .icon {
						min-width: 20px;
						width: 20px;
						min-height: 20px;
						height: 20px;
					}
				}
			}
			&-actions {
				flex-direction: column;
				gap: 20px;

				&-create {
					display: none;
				}
			}
		}
		&__preview {
			border-radius: 16px;
		}
		&__section {
			&-item {
				margin-bottom: 36px;
			}
		}
		&__heading {
			&-back {
				display: none;
			}
		}
	}
}
@media (min-width: 992px) {
	.page-content {
		&__intro {
			&-logo {
				margin-right: 44px;
			}
			&-header {
				margin-right: 20px;
			}
		}
		&__preview {
			max-width: calc(100% - 280px - 45px);
			margin-right: 45px;
		}
		&__content-type {
			display: flex;
			align-items: center;
			flex: 1 0 100%;
			margin-bottom: 36px;

			& .tab-links-slider:not(:last-child) {
				margin-right: 45px;
			}
			&-create {
				min-width: 280px;
				width: 280px;
				margin-left: auto;

				& .btn {
					width: 100%;
				}
			}
		}
		&__main {
			max-width: calc(100% - 280px - 45px);
			margin-right: 45px;
		}
		&__sidebar {
			min-width: 280px;
			width: 280px;
		}
		&__container--settings {
			max-width: 70%;
			margin-right: auto;

			& .page-content__main {
				max-width: 100%;
				margin-right: 0;
			}
			& .page-content__sidebar {
				display: none;
			}
		}
	}
}
@media (min-width: 1328px) {
	.page-content {
		&__cover {
			&-container {
				border-radius: 16px;
			}
			& picture,
			& img {
				min-height: 340px;
				height: 340px;
				border-radius: 16px;
			}
		}
	}
}
@media (max-width: 1327.98px) {
	.page-content {
		&__cover {
			& picture,
			& img {
				min-height: 95px;
				height: calc(100vw * 0.256);
			}
		}
	}
}
@media (max-width: 991.98px) {
	.page-content {
		&__content-type {
			order: 2;
			width: calc(100% - 60px - 12px);
			margin-left: 12px;

			&-create {
				display: none;
			}
		}
		&__main {
			order: 3;
			flex-basis: 100%;
		}
		&__sidebar {
			order: 1;
			min-width: 60px;
			width: 60px;
		}
		&__content-type,
		&__sidebar {
			margin-bottom: 16px;
		}
	}
}
@media (max-width: 767.98px) {
	.page-content {
		&__header {
			margin-bottom: 8px;
		}
		&__cover {
			margin-bottom: 16px;

			&-btn {
				display: none;
			}
		}
		&__intro {
			flex-wrap: wrap;

			&-logo,
			&-header {
				margin-bottom: 12px;
			}
			&-logo {
				margin-right: 16px;

				& picture,
				& img {
					min-width: 60px;
					width: 60px;
					min-height: 60px;
					height: 60px;
				}
			}
			&-header {
				gap: 10px;
				padding-top: 6px;
				padding-bottom: 6px;
			}
			&-top {
				gap: 8px;
			}
			&-bottom {
				gap: 16px;
			}
			&-rate {
				gap: 4px;
				margin: -1px;
				padding: 4px 6px;
				border: 1px solid var(--text8-color);
				border-radius: 6px;
				box-shadow: 0 6px 10px -1px rgba(40, 41, 41, 0.07);

				&-value {
					order: 2;
					font-weight: 500;
					font-size: 12px;
				}
				&-stars {
					order: 1;

					& .icon {
						min-width: 16px;
						width: 16px;
						min-height: 16px;
						height: 16px;

						&:not(:first-child) {
							display: none;
						}
					}
				}
			}
			&-actions {
				flex: 1 0 100%;
				align-items: center;
				gap: 12px;

				& .btn {
					flex: 1;
				}
				&-progress {
					display: none;
				}
			}
		}
		&__preview {
			border-radius: 8px;
		}
		&__section {
			&-item {
				margin-bottom: 20px;
			}
		}
		&__heading {
			display: flex;
			align-items: center;
			gap: 8px;

			&-back {
				display: flex;
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.page-content {
		&__intro {
			&-logo {
				margin-right: 24px;
			}
			&-header {
				margin-right: 16px;
			}
		}
	}
}

.banner {
	position: relative;
	overflow: hidden;
	border-radius: 16px;
	background-repeat: no-repeat;
	background-position: center top;

	&--dark-bg {
		& .banner__content,
		& .banner__title {
			color: var(--white-color);
		}
	}
	&__title {
		color: var(--white-color);
	}
}
@media (min-width: 768px) {
	.banner {
		padding: 24px 130px;

		&__title {
			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
	}
}
@media (max-width: 767.98px) {
	.banner {
		padding: 24px;

		&__title {
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}
}

.dropfile {
	&--avatar {
		& .dropfile-field {
			display: flex;
			align-items: center;
		}
		& .dropfile-area {
			padding: 24px;
		}
	}
	&-area {
		border: 2px dashed var(--text8-color);
		border-radius: 8px;
		background: var(--text10-color);
		cursor: pointer;
	}
	&-descr {
		display: flex;

		&__view {
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 44px;
			width: 44px;
			min-height: 44px;
			height: 44px;
			margin: 0 auto;
			padding: 10px;
			border-radius: 8px;
			background-color: var(--text8-color);
		}
		&__title {
			color: var(--text3-color);
		}
		&__accept {
			color: var(--text5-color);
		}
	}
	&-gallery {
		display: none;

		&-list {
			margin: 0 auto;

			& img {
				display: block;
				margin: 20px auto;
				max-width: 400px;
				max-height: 400px;
			}
		}
	}
}
@media (min-width: 768px) {
	.dropfile {
		&--avatar {
			& .dropfile-field {
				gap: 32px;
			}
		}
		&-area {
			padding: 45px 40px;

			& .dropfile-descr {
				text-align: center;
			}
		}
		&-descr {
			flex-direction: column;
			gap: 16px;

			&__title {
				font-size: 14px;

				&:not(:last-child) {
					margin-bottom: 8px;
				}
				& span {
					display: block;
				}
			}
			&__accept {
				font-size: 13px;
			}
		}
	}
}
@media (max-width: 767.98px) {
	.dropfile {
		&--avatar {
			& .dropfile-field {
				gap: 16px;
			}
		}
		&-area {
			display: flex;
			gap: 24px;
			padding: 16px 24px;
		}
		&-descr {
			gap: 24px;

			&__title {
				&:not(:last-child) {
					margin-bottom: 6px;
				}
				& span {
					display: none;
				}
			}
			&__accept {
				font-size: 12px;
			}
		}
	}
}

/*
.portfolio-dropfile-wrapper {

}
.portfolio-dropfile {
	border: 2px dashed var(--text8-color);
	border-radius: 8px;
	background: var(--text10-color);

	&--separate {
		display: flex;
		align-items: center;
		border: 0;
		border-radius: 0;
		background: transparent;

		& .portfolio-dropfile__view {
			padding: 24px;
			border: 2px dashed var(--text8-color);
			border-radius: 8px;
			background: var(--text10-color);
		}
	}
	&__img {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 44px;
		width: 44px;
		min-height: 44px;
		height: 44px;
		margin: 0 auto;
		border-radius: 8px;
		background: var(--text8-color);

		& .icon {
			fill: var(--text5-color);
		}
		&:hover .icon {
			fill: var(--text1-color);
		}
	}
	&__msg {
		line-height: 20px;
	}
	&__title {
		color: var(--text3-color);
	}
	&__msg,
	&__subtitle {
		color: var(--text5-color);
	}
}
@media (min-width: 768px) {
	.portfolio-dropfile {
		&:not(.portfolio-dropfile--separate) {
			padding: 45px 40px;

			& .portfolio-dropfile__view {
				&:not(:last-child) {
					margin-bottom: 16px;
				}
			}
			& .portfolio-dropfile__descr {
				text-align: center;
			}
		}
		&--separate {
			gap: 32px;

			&__view {
				padding: 24px;
				border: 2px dashed var(--text8-color);
				border-radius: 8px;
				background: var(--text10-color);
			}
		}
		&__msg {
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
		&__msg,
		&__subtitle {
			text-align: center;
			font-size: 13px;
		}
		&__title {
			font-size: 14px;

			&:not(:last-child) {
				margin-bottom: 8px;
			}
			& span {
				display: block;
			}
		}
	}
}
@media (max-width: 767.98px) {
	.portfolio-dropfile {
		&:not(.portfolio-dropfile--separate) {
			display: flex;
			gap: 24px;
			padding: 16px 24px;
		}
		&--separate {
			gap: 16px;
		}
		&__msg,
		&__subtitle {
			font-size: 12px;
		}
		&__title {
			&:not(:last-child) {
				margin-bottom: 6px;
			}
			& span {
				display: none;
			}
		}
	}
}*/
