// базовые подключения
@import "vars";
@import "fonts";
@import "./helpers/grid-bootstrap";
@import "../../node_modules/swiper/swiper-bundle";
@import "../../node_modules/bs-stepper/dist/css/bs-stepper";
@import "../../node_modules/select2/dist/css/select2.css";
@import "../../node_modules/@fancyapps/ui/dist/fancybox.css";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/footer";

.main {
	z-index: 1;
	position: relative;
	flex: 1;
	min-width: 375px;

	overflow: hidden;
}

.main-section {
	&__content {
		display: flex;
		flex-wrap: wrap;
	}
	&__page-content {
		flex: 1;
	}
}
@media (min-width: 768px) {
	.main-section {
		padding-top: 32px;
	}
}
@media (min-width: 992px) {
	.main-section {
		&__header {
			flex: 1 0 100%;
			margin-bottom: 36px;
		}
		&__sidebar {
			min-width: 280px;
			width: 280px;
			margin-right: 45px;
		}
	}
}
@media (max-width: 991.98px) {
	.main-section {
		&__header {
			flex: 1;
		}
		&__header,
		&__sidebar {
			margin-bottom: 16px;
		}
		&__page-content {
			flex-basis: 100%;
		}
	}
}
@media (max-width: 767.98px) {
	.main-section {
		padding-top: 16px;
	}
}

.main-section-tabs,
.tab-links-slider {
	margin-left: 0;
	padding-right: 8px;

	& .swiper-wrapper,
	& .swiper-slide {
		width: auto;
	}
	& .swiper-wrapper {
		box-sizing: border-box;
		width: max-content;
		min-height: 50px;
		height: 50px;
		padding: 4px;
		border-radius: 6px;
		background: var(--text9-color);
	}
	& .swiper-slide {
		display: flex;
		height: auto;
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 42px;
		height: 42px;
		padding: 12px 20px;
		border-radius: 6px;
		color: var(--text4-color);
		white-space: nowrap;
		font-size: 15px;
		line-height: 18px;
		transition: 0.16s ease-out;

		&:hover {
			color: var(--text1-color);
		}
	}
	&__link.selected {
		box-shadow: 0 6px 10px -1px rgba(40, 41, 41, 0.07);
		background: var(--white-color);
		color: var(--green-color);
	}
}

.page-content-tabs-wrapper {
	position: relative;
	width: 100%;

	&::before {
		content: "";
		z-index: 0;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		min-height: 1px;
		height: 1px;
		background-color: var(--text8-color);
	}
	& .page-content-tabs {
		&::before {
			content: none;
		}
	}
}
.page-content-tabs {
	position: relative;
	margin-left: 0;
	padding-right: 8px;

	&::before {
		content: "";
		z-index: 0;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		min-height: 1px;
		height: 1px;
		background-color: var(--text8-color);
	}
	& .swiper-wrapper {
		box-sizing: border-box;
		width: auto;
		height: auto;
	}
	& .swiper-slide {
		display: flex;
		width: auto;
		height: auto;
	}
	&__nav-item {
		&:not(:last-child) {
			margin-right: 32px;
		}
	}
	&__link {
		position: relative;
		display: block;
		width: 100%;
		min-height: 65px;
		height: 65px;
		padding: 24px 0;
		color: var(--text5-color);
		white-space: nowrap;
		font-size: 15px;
		line-height: 17px;
		transition: 0.16s ease-out;

		&::before {
			content: "";
			z-index: 1;
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			min-height: 1px;
			background-color: transparent;
			transition: 0.16s ease-out;
		}
		&.selected {
			box-shadow: none;
			background: transparent;
			color: var(--text1-color);

			&::before,
			&:hover::before {
				height: 2px;
				background-color: var(--green-color);
			}
		}
		&:hover {
			color: var(--text1-color);

			&::before {
				height: 1px;
				background-color: var(--text6-color);
			}
		}
		&-num {
			color: var(--text6-color);
			transition: 0.16s ease-out;
			user-select: none;
			pointer-events: none;
		}
	}
}
@media (min-width: 768px) {
	.page-content-tabs-wrapper {
		display: flex;
		gap: 15px;
	}
	.page-content-tabs-actions-create {
		display: flex;
		align-items: center;
	}
}
@media (max-width: 767.98px) {
	.page-content-tabs-actions-create {
		display: none;
	}
}

.page-content {
	&__cover {
		position: relative;

		&-container {
			padding-right: 0;
			padding-left: 0;
		}
		& picture,
		& img {
			min-width: 100%;
		}
	}
	&__intro {
		position: relative;
		display: flex;

		&-logo {
			&-wrapper {
				box-shadow: 0 6px 10px -1px rgba(40, 41, 41, 0.07);
				background-color: var(--white-color);
			}
			&-wrapper,
			& picture,
			& img {
				border-radius: 8px;
			}
		}
		&-header {
			display: flex;
			flex: 1;
			flex-direction: column;
		}
		&-top {
			display: flex;
			align-items: center;

			&-upload {
				display: flex;
				align-items: center;
				margin-left: auto;
			}
		}
		&-bottom {
			display: flex;
			align-items: center;
		}
		&-rate {
			display: flex;
			align-items: center;

			&-value {
				line-height: 1;
			}
			&-stars {
				display: flex;
				align-items: center;
				gap: 2px;
			}
		}
		&-reviews {
			&,
			& .btn {
				color: var(--text5-color);
			}
		}
		&-actions {
			position: relative;
			display: flex;
		}
	}
	&__preview {
		overflow: hidden;
	}
	&__container {
		display: flex;
		flex-wrap: wrap;
	}
	&__heading {
		flex: 1 0 100%;
	}
	&__main {
		flex: 1;
	}
	&__section {
		&-item-title {
			display: flex;
			align-items: center;

			&:not(:last-child) {
				margin-bottom: 12px;
			}
			& > span {
				display: flex;
				align-items: center;
			}
			& .tooltip {
				margin-left: 4px;
			}
		}
		&-item-date {
			display: flex;
			flex-wrap: wrap;
			gap: 12px;

			& .page-content__section-subitem {
				min-width: 0;
			}
			& .page-content__section-subitem--full {
				min-width: 100%;
				width: 100%;
			}
			& .page-content__section-subitem-option {
				display: flex;
				align-items: center;
				flex: 1;
				color: var(--text5-color);
			}
		}
	}
	&__spoiler {
		line-height: 22px;

		&,
		&-text {
			display: block;

			& p {
				margin-top: 0;

				&:not(:last-child) {
					margin-bottom: 20px;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&-trigger {
			padding-top: 12px;
		}
	}
	&__descr {
		&-content {
			display: block;
		}
		&-position {
			display: flex;
			align-items: center;
			gap: 12px;

			&-view {
				min-width: 32px;
				width: 32px;
				min-height: 32px;
				height: 32px;

				&,
				& picture,
				& img {
					border-radius: 8px;
				}
			}
		}
	}
	& .page-content-descr-heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__sidebar {
		&-item {
			display: flex;
			flex-direction: column;
			margin: -1px;
			border: 1px solid var(--text8-color);
			background: var(--white-color);
		}
		&-contacts {
			display: flex;
			flex-direction: column;

			&-item {
				display: flex;
				align-items: center;
				gap: 8px;
			}
		}
		&-soc {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 8px;

			&-item {
				display: flex;
				align-items: center;
			}
			& .icon {
				min-width: 32px;
				width: 32px;
				min-height: 32px;
				height: 32px;
			}
		}
		&-stats {
			display: flex;
			flex-direction: column;

			&-item {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 16px;
			}
			&-text {
				color: var(--text5-color);
			}
			&-value {
				white-space: nowrap;
			}
			&-points {
				color: var(--green-color);
				font-weight: 500;
				line-height: 1;
			}
		}
	}
	&__container--profile {
		& .page-content__preview {
			order: 1;
			flex: 1;
		}
		& .page-content__preview + .page-content__main + .page-content__sidebar {
			order: 5;
		}
		& .page-content__main {
			order: 10;
			flex: 1 0 100%;
		}
		& .page-content__video {
			min-width: 100%;
		}
	}
	&__main--profile {
		& .page-content__descr {
			&-title {
				color: var(--text5-color);
				line-height: 1.2;

				&:not(:last-child) {
					margin-bottom: 8px;
				}
			}
			&-position-title {
				color: var(--text5-color);
			}
		}
	}
}
.page-content-settings-bar {
	z-index: 1010;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	box-shadow: 0 -6px 10px -1px rgba(6, 25, 56, 0.07);
	background-color: var(--white-color);

	&__container {
		display: flex;
	}
	&__action {
		display: flex;
	}
}
@media (min-width: 768px) {
	.page-content {
		padding-top: 60px;

		&__header {
			margin-bottom: 24px;
		}
		&__cover {
			&-btn {
				z-index: 1;
				position: absolute;
				right: 24px;
				bottom: 20px;
			}
		}
		&__intro {
			padding-top: 32px;

			&-logo {
				margin-top: -62px;

				&-wrapper {
					padding: 4px;
				}
				& picture,
				& img {
					min-width: 185px;
					width: 185px;
					min-height: 185px;
					height: 185px;
				}
			}
			&-header {
				gap: 12px;
			}
			&-top {
				gap: 12px;
			}
			&-title {
				padding-right: 50px;
			}
			&-bottom {
				gap: 12px;
				padding-right: 50px;
			}
			&-rate {
				gap: 12px;
				padding: 4px 0;

				&-value {
					font-size: 18px;
				}
				&-stars {
					& .icon {
						min-width: 20px;
						width: 20px;
						min-height: 20px;
						height: 20px;
					}
				}
			}
			&-actions {
				flex-direction: column;
				gap: 20px;

				&-create {
					display: none;
				}
			}
		}
		&__heading {
			&:not(:last-child) {
				margin-bottom: 48px;
			}
			&-back {
				display: none;
			}
		}
		&__section {
			&:not(:last-child) {
				margin-bottom: 60px;
			}
			&-item {
				&:not(:last-child) {
					margin-bottom: 36px;
				}
			}
			&-item-title {
				font-size: 14px;
			}
			&-item-date {
				align-items: center;

				& .page-content__section-subitem--average {
					min-width: calc(((100% - 36px) / 4) * 2 + 12px);
					width: calc(((100% - 36px) / 4) * 2 + 12px);
				}
				& .page-content__section-subitem--small {
					min-width: calc((100% - 36px) / 4);
					width: calc((100% - 36px) / 4);
				}
				& .page-content__section-subitem-option {
					font-size: 14px;
				}
			}
		}
		& .page-content-descr-heading {
			gap: 32px;

			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
		&__sidebar {
			&-item {
				gap: 24px;
				padding: 24px 32px;
				border-radius: 16px;

				&:not(:last-child) {
					margin-bottom: 24px;
				}
			}
			& .page-content-descr-heading {
				&:not(:last-child) {
					margin-bottom: 0;
				}
			}
			&-contacts {
				gap: 12px;
			}
			&-stats {
				gap: 16px;

				&-points {
					font-size: 42px;
				}
			}
		}
		&__container--profile {
			display: grid;
			grid-template-columns: auto 410px;
			grid-template-rows: auto auto;

			& .page-content__preview,
			& .page-content__sidebar {
				width: 100%;
			}
			& .page-content__preview {
				grid-row: 1/2;
				border-radius: 16px;

				&:not(:last-child) {
					margin-bottom: 36px;
				}
			}
			& .page-content__preview + .page-content__main + .page-content__sidebar {
				grid-row: 1/3;
			}
		}
		&__container--profile-vol {
			display: grid;
			grid-template-columns: auto 280px;
			grid-template-rows: auto auto;

			& .page-content__content-type,
			& .page-content__sidebar {
				width: 100%;
			}
			& .page-content__main {
				max-width: 100%;
			}
			& .page-content__content-type {
				grid-row: 1/2;
			}
			& .page-content__content-type + .page-content__main + .page-content__sidebar {
				grid-row: 1/3;
			}
		}
		&__main--profile {
			& .page-content__descr {
				&-item {
					&:not(:last-child) {
						margin-bottom: 36px;
					}
				}
			}
		}
	}
	.page-content-settings-bar {
		padding-top: 20px;
		padding-bottom: 20px;

		&__container {
			justify-content: space-between;
			align-items: center;
			gap: 24px;
		}
		&__action {
			align-items: center;
			gap: 12px;
		}
	}
}
@media (min-width: 992px) {
	.page-content {
		&__intro {
			&-logo {
				margin-right: 44px;
			}
			&-header {
				margin-right: 20px;
			}
		}
		&__content-type {
			display: flex;
			align-items: center;
			flex: 1 0 100%;
			margin-bottom: 36px;

			& .tab-links-slider:not(:last-child) {
				margin-right: 45px;
			}
			&-create {
				min-width: 280px;
				width: 280px;
				margin-left: auto;

				& .btn {
					width: 100%;
				}
			}
		}
		&__main {
			max-width: calc(100% - 280px - 45px);
			margin-right: 45px;
		}
		&__sidebar {
			min-width: 280px;
			width: 280px;
		}
		&__container--profile {
			& .page-content__preview {
				max-width: calc(100% - 60px);
				margin-right: 60px;

				&:not(:last-child) {
					margin-bottom: 36px;
				}
			}
			& .page-content__sidebar {
				order: 20;
				min-width: 410px;
				width: 410px;
			}
			& .page-content__main {
				order: 10;
				max-width: calc(100% - 60px);
				margin-right: 60px;
			}
		}
		&__container--settings {
			max-width: 70%;
			margin-right: auto;

			& .page-content__main {
				max-width: 100%;
				margin-right: 0;
			}
			& .page-content__sidebar {
				display: none;
			}
		}
	}
}
@media (min-width: 1328px) {
	.page-content {
		&__cover {
			&-container {
				border-radius: 16px;
			}
			& picture,
			& img {
				min-height: 340px;
				height: 340px;
				border-radius: 16px;
			}
		}
	}
}
@media (max-width: 1327.98px) {
	.page-content {
		&__cover {
			& picture,
			& img {
				min-height: 95px;
				height: calc(100vw * 0.256);
			}
		}
	}
}
@media (max-width: 991.98px) {
	.page-content {
		&__content-type {
			order: 2;
			width: calc(100% - 60px - 12px);
			margin-left: 12px;

			&-create {
				display: none;
			}
		}
		&__main {
			order: 3;
			flex-basis: 100%;
		}
		&__sidebar {
			order: 1;
			min-width: 60px;
			width: 60px;
		}
		&__content-type,
		&__sidebar {
			margin-bottom: 16px;
		}
		&__container--profile {
			& .page-content__preview {
				flex: 1 0 100%;

				&:not(:last-child) {
					margin-bottom: 12px;
				}
			}
			& .page-content__main,
			& .page-content__sidebar {
				min-width: 100%;
				width: 100%;
			}
			& .page-content__sidebar {
				order: 5;
			}
		}
	}
}
@media (max-width: 767.98px) {
	.page-content {
		padding-top: 16px;

		&__header {
			margin-bottom: 8px;
		}
		&__cover {
			margin-bottom: 16px;

			&-btn {
				display: none;
			}
		}
		&__intro {
			flex-wrap: wrap;

			&-logo,
			&-header {
				margin-bottom: 12px;
			}
			&-logo {
				margin-right: 16px;

				& picture,
				& img {
					min-width: 60px;
					width: 60px;
					min-height: 60px;
					height: 60px;
				}
			}
			&-header {
				gap: 10px;
				padding-top: 6px;
				padding-bottom: 6px;
			}
			&-top {
				gap: 8px;
			}
			&-bottom {
				gap: 16px;
			}
			&-rate {
				gap: 4px;
				margin: -1px;
				padding: 4px 6px;
				border: 1px solid var(--text8-color);
				border-radius: 6px;
				box-shadow: 0 6px 10px -1px rgba(40, 41, 41, 0.07);

				&-value {
					order: 2;
					font-weight: 500;
					font-size: 12px;
				}
				&-stars {
					order: 1;

					& .icon {
						min-width: 16px;
						width: 16px;
						min-height: 16px;
						height: 16px;

						&:not(:first-child) {
							display: none;
						}
					}
				}
			}
			&-actions {
				flex: 1 0 100%;
				align-items: center;
				gap: 12px;

				& .btn {
					flex: 1;
				}
				&-progress {
					display: none;
				}
			}
		}
		&__section {
			&-item {
				margin-bottom: 20px;
			}
			&-item-date {
				& .page-content__section-subitem--average {
					min-width: 100%;
					width: 100%;
				}
				& .page-content__section-subitem--small {
					min-width: calc((100% - 12px) / 2);
					width: calc((100% - 12px) / 2);
				}
				& .page-content__section-subitem-option {
					font-size: 13px;
				}
			}
		}
		&__heading {
			display: flex;
			align-items: center;
			gap: 8px;

			&:not(:last-child) {
				margin-bottom: 32px;
			}
			&-back {
				display: flex;
				padding: 8px;
			}
		}
		&__descr {
			&-position {
				&-title {
					display: none;
				}
			}
		}
		& .page-content-descr-heading {
			gap: 16px;

			&:not(:last-child) {
				margin-bottom: 12px;
			}
		}
		&__sidebar {
			&-item {
				gap: 8px;
				padding: 12px 16px;
				border-radius: 8px;

				&:not(:last-child) {
					margin-bottom: 12px;
				}
			}
			& .page-content-descr-heading {
				&:not(:last-child) {
					margin-bottom: 0;
				}
			}
			&-contacts {
				gap: 8px;
			}
			&-stats {
				gap: 12px;

				&-points {
					font-size: 36px;
				}
			}
		}
		&__container--profile {
			& .page-content__preview {
				border-radius: 8px;

				&:not(:last-child) {
					margin-bottom: 12px;
				}
			}
			& .page-content__sidebar {
				margin-bottom: 32px;
			}
		}
		&__main--profile {
			& .page-content__descr {
				&-item {
					&:not(:last-child) {
						margin-bottom: 32px;
					}
				}
				&-title {
					font-size: 12px;
				}
			}
		}
	}
	.page-content-settings-bar {
		padding-top: 12px;
		padding-bottom: 40px;

		&__container {
			flex-direction: column;
			gap: 10px;
		}
		&__action {
			flex-direction: column;
			gap: 10px;
		}
		&__cancel {
			text-align: center;
		}
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.page-content {
		&__intro {
			&-logo {
				margin-right: 24px;
			}
			&-header {
				margin-right: 16px;
			}
		}
	}
}

.banner {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border-radius: 16px;
	background-repeat: no-repeat;
	background-position: center top;

	&--dark-bg {
		& .banner__content,
		& .banner__title {
			color: var(--white-color);
		}
	}
	&__decor {
		z-index: 0;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		& picture {
			position: absolute;
		}
	}
	&__content {
		z-index: 1;
	}
	&__title {
		color: var(--white-color);
	}
}
@media (min-width: 768px) {
	.banner {
		justify-content: center;
		gap: 24px;
		min-height: 150px;
		padding: 24px 130px;

		&__title {
			font-size: 20px;

			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
	}
}
@media (max-width: 767.98px) {
	.banner {
		gap: 16px;
		min-height: 280px;
		padding: 24px;

		&__title {
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
		&__decor {
			z-index: 0;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			& picture:not(.banner__decor-img-main) {
				display: none;
			}
			& .banner__decor-img-main {
				justify-content: center;
				top: unset !important;
				right: unset !important;
				bottom: 0 !important;
				left: 50% !important;
				transform: translateX(-50%);
				max-height: 90px;
				height: 100%;
				width: 100%;
			}
		}
		&__content {
			padding-bottom: 80px;

			& .btn {
				width: 100%;
			}
		}
		&__title {
			font-size: 22px;
		}
	}
}

.dropfile {
	&--avatar {
		& .dropfile-field {
			display: flex;
			align-items: center;
		}
		& .dropfile-area {
			padding: 24px;
		}
	}
	&-area {
		border: 2px dashed var(--text8-color);
		border-radius: 8px;
		background: var(--text10-color);
		cursor: pointer;
	}
	&-descr {
		display: flex;

		&__view {
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 44px;
			width: 44px;
			min-height: 44px;
			height: 44px;
			margin: 0 auto;
			padding: 10px;
			border-radius: 8px;
			background-color: var(--text8-color);
		}
		&__title {
			color: var(--text3-color);
		}
		&__accept {
			color: var(--text5-color);
		}
	}
	&-gallery {
		display: none;

		&-list {
			margin: 0 auto;

			& img {
				display: block;
				margin: 20px auto;
				max-width: 400px;
				max-height: 400px;
			}
		}
	}
}
@media (min-width: 768px) {
	.dropfile {
		&--avatar {
			& .dropfile-field {
				gap: 32px;
			}
		}
		&-area {
			padding: 45px 40px;

			& .dropfile-descr {
				text-align: center;
			}
		}
		&-descr {
			flex-direction: column;
			gap: 16px;

			&__title {
				font-size: 14px;

				&:not(:last-child) {
					margin-bottom: 8px;
				}
				& span {
					display: block;
				}
			}
			&__accept {
				font-size: 13px;
			}
		}
	}
}
@media (max-width: 767.98px) {
	.dropfile {
		&--avatar {
			& .dropfile-field {
				gap: 16px;
			}
		}
		&-area {
			display: flex;
			gap: 24px;
			padding: 16px 24px;
		}
		&-descr {
			align-items: center;
			gap: 24px;

			&__title {
				&:not(:last-child) {
					margin-bottom: 6px;
				}
				& span {
					display: none;
				}
			}
			&__accept {
				font-size: 12px;
			}
		}
	}
}

.docs {
	display: flex;

	&-card {
		position: relative;
		display: flex;
		flex-direction: column;
		margin: -1px;
		border: 1px solid var(--text8-color);
		border-radius: 16px;
		background: var(--white-color);

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 20px;
			min-width: 24px;
			width: 24px;
			min-height: 24px;
			height: 24px;
			margin-top: -12px;
			background: url("../img/sprite.svg#document") no-repeat center / contain;
		}
		&__title {
			color: var(--text1-color);
		}
		&__format {
			color: var(--text5-color);
			line-height: 1.2;
		}
	}
}
@media (min-width: 768px) {
	.docs {
		flex-wrap: wrap;
		gap: 16px;

		&-card {
			gap: 8px;
			min-width: calc(50% - 8px);
			width: calc(50% - 8px);
			padding: 16px 20px 16px 60px;
			border-radius: 16px;

			&__format {
				font-size: 13px;
			}
		}
	}
}
@media (max-width: 767.98px) {
	.docs {
		flex-direction: column;
		gap: 12px;

		&-card {
			gap: 2px;
			padding: 12px 16px 12px 52px;
			border-radius: 8px;

			&__format {
				font-size: 12px;
			}
		}
	}
}

.request {
	&,
	&__header {
		display: flex;
		flex-direction: column;
	}
}
@media (min-width: 768px) {
	.request {
		gap: 16px;

		&__header {
			gap: 12px;
			margin-bottom: 24px;
		}
	}
}
@media (max-width: 767.98px) {
	.request {
		gap: 8px;

		&__header {
			display: none;
		}
	}
}

.request-accordion {
	& .accordion__btn.open &__btn-icon-dropdown .icon {
		transform: scale(-1);
	}
	&__btn-icon-dropdown {
		&,
		& .icon {
			min-width: 32px;
			min-height: 32px;
			width: 32px;
			height: 32px;
		}
	}
}
@media (min-width: 768px) {
	.request-accordion {
		& .accordion__btn {
			gap: 24px;
		}
	}
}
@media (max-width: 767.98px) {
	.request-accordion {
		& .accordion__btn {
			gap: 24px;
		}
		&__btn-icon-dropdown {
			display: none;
		}
	}
}

.request-cards {
	display: flex;
	flex-direction: column;
}
.request-card {
	max-width: 100%;
	overflow: hidden;
	border: 1px solid var(--text8-color);

	&__header {
		display: flex;
		align-items: center;

		&-descr,
		&-subtitle {
			display: flex;
			flex-direction: column;
		}
		&-title {
			line-height: 1.2;
		}
		&-descr {
			flex: 1;
		}
		&-action {
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}

		&-preview {
			display: flex;
			gap: 12px;
		}
		&-view {
			&,
			& picture,
			& img {
				min-width: 42px;
				width: 42px;
				min-height: 42px;
				height: 42px;
				border-radius: 8px;
			}
		}
		&-heading {
			display: flex;
			flex-direction: column;
			gap: 4px;
			line-height: 1.2;

			& .request-card__header-subtitle {
				color: var(--text5-color);
			}
		}
	}
	& .card__action {
		flex: unset;

		&-progress {
			display: flex;

			&-bar {
				display: inline-flex;
				flex-direction: row;
				align-items: center;
				flex: 1 0 40%;
				padding-right: 12px;

				&:not(:last-child) {
					margin-bottom: 0;
				}
			}
			&-data {
				flex: 1 0 60%;
				display: block;
				gap: unset;
				color: var(--text5-color);
				line-height: 20px;
			}
			& .progress-bar__bg {
				width: 100%;
			}
			&-data-value,
			&-current,
			&-need {
				display: inline;
			}
		}
	}
	&__table {
		display: flex;
		align-items: center;
		padding-top: 8px;
		padding-bottom: 8px;
		border-top: 1px solid var(--text8-color);

		&-item {
			display: flex;
			align-items: center;

			& .tooltip {
				align-self: center;
			}
		}
		&-item-name {
			display: flex;
			align-items: center;

			&-view {
				&,
				& picture,
				& img {
					border-radius: 8px;
				}
			}
			&-title {
				line-height: 1.2;
			}
		}
		&-item-time {
			min-width: 50px;
			width: 50px;
		}
		&-item-id {
			min-width: 75px;
			width: 75px;
		}
		&-item-birthday {
			min-width: 110px;
			width: 110px;
		}
	}
	& .accordion__collapse-content {
		&::-webkit-scrollbar,
		&::-webkit-scrollbar-track,
		&::-webkit-scrollbar-thumb {
			min-height: 5px;
			height: 5px;
		}
		&::-webkit-scrollbar,
		&::-webkit-scrollbar-track {
			background-color: var(--text9-color);
		}
		&::-webkit-scrollbar-button {
			opacity: 0;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 5px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: var(--text7-color);
		}
	}
	& .accordion__collapse-item-header {
		color: var(--text5-color);
		line-height: 1.2;
	}
}
@media (min-width: 644px) {
	.request-card {
		& .card__action {
			&-progress {
				&-data {
					font-size: 13px;
				}
			}
		}
	}
}
@media (min-width: 768px) {
	.request-cards {
		gap: 16px;
	}
	.request-card {
		border-radius: 16px;

		&__header {
			padding: 20px 24px;

			&-descr,
			&-subtitle {
				gap: 8px;
			}
			&-title {
				font-size: 20px;
			}
			&-action {
				flex: 1;
			}
			&-action-menu-trigger {
				display: none;
			}
			&-action-menu {
				display: flex;
				align-items: center;
				gap: 8px;
			}
			&-heading {
				& .request-card__header-title {
					font-size: 15px;
				}
				& .request-card__header-subtitle {
					font-size: 13px;
				}
			}
		}
		&__table {
			gap: 24px;
			min-height: 60px;

			&-item {
				gap: 4px;

				&:first-child {
					margin-left: 24px;
				}
				&:last-child {
					padding-right: 24px;
				}
				&-name {
					gap: 16px;
				}
			}
			&-item-check {
				min-width: 45px;
				width: 45px;
			}
			&-item-name {
				gap: 16px;
				min-width: 240px;
				width: 240px;

				&-view {
					&,
					& picture,
					& img {
						min-width: 42px;
						width: 42px;
						min-height: 42px;
						height: 42px;
					}
				}
				&-title {
					font-size: 14px;
				}
			}
			&-item-rate {
				min-width: 130px;
				width: 130px;
			}
			&-item-status {
				min-width: 150px;
				width: 150px;
			}
			&-item-age {
				min-width: 85px;
				width: 85px;
			}
		}
		& .accordion__collapse-item-header {
			font-size: 13px;
		}

		&--tracking {
			& .request-card__table {
				&-item-name {
					min-width: 310px;
					width: 310px;
				}
				&-item-time {
					min-width: 150px;
					width: 150px;
				}
				&-item-rate {
					min-width: 120px;
					width: 120px;
				}
				&-item-review {
					min-width: 270px;
					width: 270px;
				}
			}
		}
	}
}
@media (max-width: 643.98px) {
	.request-card {
		& .card__action {
			&-progress {
				&-data {
					font-size: 12px;
				}
			}
		}
	}
}
@media (max-width: 767.98px) {
	.request-cards {
		gap: 8px;
	}
	.request-card {
		width: calc(100vw - 32px);
		border-radius: 8px;

		&__header {
			padding: 12px;

			&-descr,
			&-subtitle {
				gap: 6px;
			}
			&-title {
				font-size: 14px;
			}
			&-action-menu-trigger {
				display: flex;
				align-items: center;
				min-width: 32px;
				width: 32px;
				min-height: 32px;
				height: 32px;
				padding: 4px;
			}
			&-action-menu {
				display: none;
				position: fixed;
			}
			&-heading {
				& .request-card__header-title {
					font-size: 14px;
				}
				& .request-card__header-subtitle {
					font-size: 12px;
				}
			}
		}
		&__table {
			gap: 12px;
			min-height: 52px;

			&-item {
				gap: 4px;

				&:first-child {
					margin-left: 16px;
				}
				&:last-child {
					padding-right: 16px;
				}
				&-name {
					gap: 12px;
				}
			}
			&-item-check {
				min-width: 36px;
				width: 36px;
			}
			&-item-name {
				gap: 12px;
				min-width: 200px;
				width: 200px;

				&-view {
					&,
					& picture,
					& img {
						min-width: 36px;
						width: 36px;
						min-height: 36px;
						height: 36px;
					}
				}
				&-title {
					font-size: 13px;
				}
			}
			&-item-rate {
				min-width: 115px;
				width: 115px;
			}
			&-item-status {
				min-width: 100px;
				width: 100px;
			}
			&-item-age {
				min-width: 76px;
				width: 76px;
			}
		}
		& .accordion__collapse-item-header {
			font-size: 12px;
		}

		&--tracking {
			& .request-card__table {
				&-item-name {
					min-width: 200px;
					width: 200px;
				}
				&-item-time {
					min-width: 140px;
					width: 140px;
				}
				&-item-rate {
					min-width: 120px;
					width: 120px;
				}
				&-item-review {
					min-width: 205px;
					width: 205px;
				}
			}
		}
	}
}


/*
.portfolio-dropfile-wrapper {

}
.portfolio-dropfile {
	border: 2px dashed var(--text8-color);
	border-radius: 8px;
	background: var(--text10-color);

	&--separate {
		display: flex;
		align-items: center;
		border: 0;
		border-radius: 0;
		background: transparent;

		& .portfolio-dropfile__view {
			padding: 24px;
			border: 2px dashed var(--text8-color);
			border-radius: 8px;
			background: var(--text10-color);
		}
	}
	&__img {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 44px;
		width: 44px;
		min-height: 44px;
		height: 44px;
		margin: 0 auto;
		border-radius: 8px;
		background: var(--text8-color);

		& .icon {
			fill: var(--text5-color);
		}
		&:hover .icon {
			fill: var(--text1-color);
		}
	}
	&__msg {
		line-height: 20px;
	}
	&__title {
		color: var(--text3-color);
	}
	&__msg,
	&__subtitle {
		color: var(--text5-color);
	}
}
@media (min-width: 768px) {
	.portfolio-dropfile {
		&:not(.portfolio-dropfile--separate) {
			padding: 45px 40px;

			& .portfolio-dropfile__view {
				&:not(:last-child) {
					margin-bottom: 16px;
				}
			}
			& .portfolio-dropfile__descr {
				text-align: center;
			}
		}
		&--separate {
			gap: 32px;

			&__view {
				padding: 24px;
				border: 2px dashed var(--text8-color);
				border-radius: 8px;
				background: var(--text10-color);
			}
		}
		&__msg {
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
		&__msg,
		&__subtitle {
			text-align: center;
			font-size: 13px;
		}
		&__title {
			font-size: 14px;

			&:not(:last-child) {
				margin-bottom: 8px;
			}
			& span {
				display: block;
			}
		}
	}
}
@media (max-width: 767.98px) {
	.portfolio-dropfile {
		&:not(.portfolio-dropfile--separate) {
			display: flex;
			gap: 24px;
			padding: 16px 24px;
		}
		&--separate {
			gap: 16px;
		}
		&__msg,
		&__subtitle {
			font-size: 12px;
		}
		&__title {
			&:not(:last-child) {
				margin-bottom: 6px;
			}
			& span {
				display: none;
			}
		}
	}
}*/
