// базовые подключения
@import "vars";
@import "fonts";
@import "./helpers/grid-bootstrap";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/footer";

.main {
	z-index: 1;
	position: relative;
	flex: 1;
	min-width: 375px;

	overflow: hidden;
}

.main-section {
	display: grid;
	grid-template-columns: 280px 1fr;
	gap: 45px;

	overflow: hidden;

	/*&__sidebar {
		min-width: 280px;
		width: 280px;
	}
	&__page-content {
		flex: 1;
	}*/
}
@media (min-width: 1300px) {
	.main-section {
		/*&__sidebar {
			min-width: calc((1280px - 45px) * 0.25);
			width: calc((1280px - 45px) * 0.25);
		}
		&__sidebar {
			width: calc((1280px - 45px) * 0.25);
		}*/
	}
}
@media (max-width: 1299.98px) {
	.main-section {
		/*&__sidebar {
			min-width: calc((1280px - 45px) * 0.25);
			width: calc((1280px - 45px) * 0.25);
		}
		&__sidebar {
			width: calc((1280px - 45px) * 0.25);
		}*/
	}
}